<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>Backoffice - ACommerce</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/blog/">
    <!-- Custom styles for this blog template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'login_reg_app/css/blog.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login_reg_app/css/style.css' %}">
	{% load tz %}
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between" id="favoritebooksNav">
		<span class="navbar-brand mb-0 h1">A-Commerce Backoffice</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		    	<li class="nav-item active">
		        	<a class="nav-link" href="/adminportal">Home <span class="sr-only">(current)</span></a>
		      	</li>
		    </ul>
		</div>
		<span class="navbar-text h6">
			<a href="/adminportal" class="badge badge-primary text-white">Sign in</a>
		</span>
	</nav>
	<div class="container mt-5">
		<!-- <h1 class="text-center">Belt Exam - Django</h1> -->
		<div class="col-md-6 mt-5">
			<div class="mr-5 pr-5 mb-5">
				<h3 class="mb-5">Login</h3>
				<div>
					{% if messages %}
					<ul class="messages col-md-12" style="list-style-position: inside; display: inline-block;">
					    {% for message in messages %}
					    <li{% if message.tags %} class="{{ message.tags }} text-danger text-left"{% endif %}>{{ message }}</li>
					    {% endfor %}
					</ul>
					{% endif %}
				</div>
				<form action="/adminportal/login" method="post" id="loginForm">
					{% csrf_token %}
					<div class="form-group">
						<label for="loginInputemail">Email:</label>
						<input type="text" class="form-control" id="loginInputemail" name="email" value="{{ request.session.loginEmail }}">
					</div>
					<div class="form-group">
						<label for="loginInputpassword">Password:</label>
						<input type="password" class="form-control" id="loginInputpassword" name="password">
					</div>
					<button type="submit" class="btn btn-primary">Login!</button>
				</form>
			</div>
		</div>
		<div class="col-md-6 mt-5 mb-5">
			<a href="/adminportal/register">Don't have an account? Register</a>
		</div>
	</div>
</body>
</html>